@base-font-size: 16px;

.px-rem(@property, @px) {
  @{property}: unit((@px / @base-font-size), rem);
}

@media (max-width: @screen-md) {
  .website {
    background: #ccc;
    overflow-x: hidden;
    .website__header {
      height: 100px !important;
    }
    // .menu {
    //   display: none !important;
    // }
    // .locale__title {
    //   display: none;
    // }
    .header_right {
      display: none !important;
    }
    .daohang {
      display: inline-block;
    }
    .website__header {
      padding: 0 10% !important;
    }
    .logo {
      height: 50%;
    }
    .menu-phone {
      top: 100px;
    }
    .website__footer {
      height: 100px !important;
      padding: 0 10% !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;
      > img {
        height: 30%;
      }
    }
    .website__banner {
      height: 305px !important;
      .website__banner_main {
        top: 140px;
        width: 70%;
        line-height: 1;
        > h3 {
          font-size: 20px;
          margin-bottom: 2px;
          padding-bottom: 12px;
        }
        > span {
          font-size: 14px;
        }
      }
    }
    .home {
      height: calc(100vh - 100px);
      > img {
        width: 90%;
      }
    }
    .about {

      .menu {
        .menu__item {
          width: (192px / 2) !important;
          // height: (92px / 2) !important;
          margin-left: (66px / 2) !important;
          font-size: 12px !important;
          .img {
            width:( 44px / 2) !important;
          }
        }
      }
      .about_main1 {

        .qy_name {
          height: 275px !important;
          > img {
            width: 30%;
            margin-left: 10px !important;
          }
        }

        .qy_map {
          height: 200px !important;
          > img {
            height: 100%;
            object-fit: cover;
          }
        }

      }

      .about_main2 {

        .about_main2_content {
          width: 100% !important;
        }
        .lishi__time {
          display: flex;
          flex-flow: column nowrap !important;
          align-items: center !important;
          .lishi__time_progress {
            margin-right: 0 !important;
          }
        }

        .lishi__desc {
          padding: 0 20px;
        }

      }

      .about_main3 {
        .idea {
          width: 100%!important;
          flex-direction: column !important;
          .idea__item {
            &:nth-of-type(n) {
              margin-bottom: 20px !important;
            }
          }
          .idea__item_desc {
            width: (410px / 1) !important;
            height: (117px / 1) !important;
            padding: 0 60px 0 20px;
          }
        }
      }

    }

    .business {
      .flow {
        height: 240px;
        // object-fit:scale-down;
      }
      .title {
        font-size: 32px;
      }
      .business__area {
        width: 100% !important;
        .banner1 {
          padding: 20px 40px;
          margin: 30px auto;
          background-position: right top;
          background-size: cover;
          .long_business {
            width: 100%;
            padding: 0;
          }

        }
        .banner2 {
          margin: 0 auto 30px;

          background-position: left top;
          background-size: cover;

          .right {
            margin-left: 0;
            padding: 50px 0 0 40px;
          }
        }
        .baoxian {
          margin-left: 40px;
        
        }
      

      }
    }

    .team {
      .team__content {
        width: 100% !important;
      }
      .team__content_user {
        display: flex;
        flex-flow: column nowrap !important;
        align-items: center !important;
        .user__img {
          margin-right: 0 !important;
        }
        .user__info {
          padding: 0 20px;
          .user__info_title {
            flex-flow: column nowrap!important;
            margin-bottom: 20px;
            &::before {
              display: none;
            }
          }
        }
      }
    }

    .connect {

      .connect__content {
        background-size: 100% !important;
        background: #ddd !important;
        .cate {
          flex-direction: column!important;
          width: 100%!important;
        }
      }

    }
  }
}
